<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.placement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".stud_job_desc"></activity>
        <activity android:name=".trial" />
        <activity android:name=".stud_appls" />

        <service
            android:name=".Notification"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".admin_appls" />
        <activity android:name=".job_desc" />
        <activity android:name=".recycler" />
        <activity android:name=".admin_results" />
        <activity android:name=".stud_profile" />
        <activity
            android:name=".stud_home"
            android:label="@string/title_activity_stud_home" />
        <activity android:name=".add_job" />
        <activity android:name=".signup" />
        <activity android:name=".add_profile_comp" />
        <activity android:name=".admin_selec" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>